*.png
*.jpg
*.jpeg
*.gif
Assignment_1/Previous_Image/prev_img.jpg
Assignment_1/Previous_Image/current_img.jpg
Assignment_2/18D070067_Assg2.zip
Assignment_2/18D070067_Assg2/BSDS300/iids_test.txt
Assignment_2/18D070067_Assg2/BSDS300/iids_train.txt
Assignment_1/Previous_Image/current_img.jpg
